@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Free API Store";
    ViewData["Footer-fixed"] = false;

}

<div style="width:700px; margin: 0 auto;" class="big-card">
    <div class="text-center">
        <section>
            <h4>Documentation</h4>
            <p>For detailed information on using our APIs, including available endpoints, request parameters, and response formats, please refer to our official documentation:</p>
            <p>
                <button class="btn btn-sm btn-outline-primary" onclick="redirectPostman()" target="_blank">
                    Documentation
                </button>
            </p>
        </section>

        <h5 class="text-danger">Important Notice:</h5>
        <section>
            <p>For security and the protection of our data, all API endpoints require valid credentials (such tokens) to access them. Except Login and Resgisteration</p>
            <p>This ensures authorized use and prevents unauthorized access to our resources.</p>
        </section>
        <p>
            If you have any questions about accessing our APIs or need help with authentication, please refer to the documentation or
            <a href="@Url.Action("Contact", "Home")">
                Contact Us
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                </svg>
            </a>
        </p>
    </div>
</div>


@section scripts {
    <script>
        const redirectPostman = () => {
            var win = window.open("https://documenter.getpostman.com/view/34343442/2sA3JFCkNm", '_blank');
            win.focus();
        }
    </script>
}


