@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Free API Store";
    string doctype = Context.Request.Query["doctype"];
    ViewData["Footer-fixed"] = false;
}

@{
    if (doctype == "ecommerce")
    {
        <div style="width:700px; margin: 0 auto;" class="big-card">
            <div>
                <section>
                    <div class="text-center">
                        <h4>E-commerce Documentation</h4>
                    </div>
                    <p>
                        This document describes a mock API for an e-commerce application. This API simulates real-world interactions with products, ctaegories, and orders, allowing you to test your e-commerce functionalities without a full backend setup.
                    </p>
                    <ul>
                        <li>
                            User
                            <ol>
                                <li>Login</li>
                                <li>Register</li>
                                <li>Get User Details</li>
                            </ol>
                        </li>
                        <li>
                            Product
                            <ol>
                                <li>Add Product</li>
                                <li>Get Products by Category</li>
                                <li>Get Product by Id</li>
                                <li>Update Product</li>
                                <li>Delete Product</li>
                            </ol>
                        </li>
                        <li>
                            Category
                            <ol>
                                <li>Add Category</li>
                                <li>Get Categories</li>
                                <li>Update Category</li>
                                <li>Delete Category</li>
                            </ol>
                        </li>
                        <li>
                            Order
                            <ol>
                                <li>Add Order</li>
                                <li>Get Orders by User</li>
                                <li>Get Order by Id</li>
                                <li>Update Order</li>
                                <li>Delete Order</li>
                            </ol>
                        </li>
                    </ul>
                    <p>For detailed information on using our APIs, including available endpoints, request parameters, and response formats, please refer to our official documentation:</p>
                    <div class="text-center">
                        <button class="btn btn-sm btn-outline-primary" onclick="redirectPostman()" target="_blank">
                            Documentation
                        </button>
                    </div>
                </section>
            </div>
        </div>
    }
    else if (doctype == "finance-tracker")
    {
        <div style="width:700px; margin: 0 auto;" class="big-card">
            <div>
                <section>
                    <div class="text-center">
                        <h4>Finance Tracker Documentation</h4>
                    </div>
                    <p>
                        This document describes a mock API for a finance tracker application. This API allows you to simulate user interactions with the finance tracker and test your application's functionality without needing a real database connection.
                    </p>
                    <div>
                        <h5>Endpoints</h5>
                        <ul>
                            <li>
                                User
                                <ol>
                                    <li>Login</li>
                                    <li>Register</li>
                                    <li>Get User Details</li>
                                </ol>
                            </li>
                            <li>
                                Todo
                                <ol>
                                    <li>Add Todo</li>
                                    <li>Get Todos by User</li>
                                    <li>Get Todos by Id</li>
                                    <li>Update Todo</li>
                                    <li>Delete Todo</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                    <p>For detailed information on using our APIs, including available endpoints, request parameters, and response formats, please refer to our official documentation:</p>
                    <div class="text-center">
                        <button class="btn btn-sm btn-outline-primary" onclick="redirectPostman()" target="_blank">
                            Documentation
                        </button>
                    </div>
                </section>
            </div>
        </div>
    }
    else if (doctype == "todo")
    {
        <div style="width:700px; margin: 0 auto;" class="big-card">
            <div>
                <section>
                    <div class="text-center">
                        <h4>Todo Documentation</h4>
                    </div>
                    <p>
                        This is a description of a mock API for a simple todo application. It allows you to interact with simulated todos for testing purposes. Also you can use this app to manage your own Task.
                    </p>
                    <div>
                        <h5>Endpoints</h5>
                        <ul>
                            <li>
                                User
                                <ol>
                                    <li>Login</li>
                                    <li>Register</li>
                                    <li>Get User Details</li>
                                </ol>
                            </li>
                            <li>
                                Todo
                                <ol>
                                    <li>Add Todo</li>
                                    <li>Get Todos by User</li>
                                    <li>Get Todos by Id</li>
                                    <li>Update Todo</li>
                                    <li>Delete Todo</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                    <p>For detailed information on using our APIs, including available endpoints, request parameters, and response formats, please refer to our official documentation:</p>
                    <div class="text-center">
                        <button class="btn btn-sm btn-outline-primary" onclick="redirectPostman()" target="_blank">
                            Documentation
                        </button>
                    </div>
                </section>
            </div>
        </div>
    }
}



@section scripts {
    <script>
        const redirectPostman = () => {
            let win = window.open("https://documenter.getpostman.com/view/34343442/2sA3JFCkNm", '_blank');
            win.focus();
        }
    </script>
}


