@{
    ViewData["Title"] = "Store";
    ViewData["Footer-fixed"] = false;
}


<div class="row">
    <div class="col-md-2">
        <div class="card" style="width: 12rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Auth</strong></li>
                <li class="list-group-item"><span class="badge badge-success">Post</span><a href="#" class="text-black"> Login</a></li>
                <li class="list-group-item"><span class="badge badge-success">Post</span><a href="#" class="text-black"> Login</a></li>

                <li class="list-group-item"><strong>Product</strong></li>
                <li class="list-group-item"><span class="badge badge-success">Post</span> <a href="#" class="text-black"> Create</a></li>
                <li class="list-group-item"><span class="badge badge-primary">Get</span> <a href="#" class="text-black"> Get All</a></li>
                <li class="list-group-item"><span class="badge badge-primary">Get</span> <a href="#" class="text-black"> Get by Id</a></li>
                <li class="list-group-item"><span class="badge badge-warning">Put</span> <a href="#" class="text-black"> Update</a></li>
                <li class="list-group-item"><span class="badge badge-danger">Delete</span> <a href="#" class="text-black"> Delete</a></li>

                <li class="list-group-item"><strong>Category</strong></li>
                <li class="list-group-item"><span class="badge badge-success">Post</span> <a href="#" class="text-black"> Create</a></li>
                <li class="list-group-item"><span class="badge badge-primary">Get</span> <a href="#" class="text-black"> Get All</a></li>
                <li class="list-group-item"><span class="badge badge-primary">Get</span> <a href="#" class="text-black"> Get by Id</a></li>
                <li class="list-group-item"><span class="badge badge-warning">Put</span> <a href="#" class="text-black"> Update</a></li>
                <li class="list-group-item"><span class="badge badge-danger">Delete</span> <a href="#" class="text-black"> Delete</a></li>

                <li class="list-group-item"><strong>Order</strong></li>
                <li class="list-group-item"><span class="badge badge-success">Post</span> <a href="#" class="text-black"> Create</a></li>
                <li class="list-group-item"><span class="badge badge-primary">Get</span> <a href="#" class="text-black"> Get All</a></li>
                <li class="list-group-item"><span class="badge badge-primary">Get</span> <a href="#" class="text-black"> Get by Id</a></li>
                <li class="list-group-item"><span class="badge badge-warning">Put</span> <a href="#" class="text-black"> Update</a></li>
                <li class="list-group-item"><span class="badge badge-danger">Delete</span> <a href="#" class="text-black"> Delete</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row my-5">
            <div class="col-md-3">
                <div class="api-box">
                    <span class="badge badge-success">Post</span>
                    <span>api/v1/product</span>
                </div>
            </div>
            <div class="col-md-9 shell">

            </div>
        </div>
    </div>
</div>