@using Shared
@using Shared.Statics.Models
@model GetAPIDTO
@{
    ViewData["Title"] = "Free API Store";
    ViewData["Footer-fixed"] = false;

}

<div style="width:700px; margin: 0 auto;">
    <div class="text-center">
        <section>
            <h4>API Documentation</h4>
            <p>For detailed information on using our APIs, including available endpoints, request parameters, and response formats, please refer to our official documentation:</p>
            <p><strong>Documentation:</strong> <a href="https://documenter.getpostman.com/view/34343442/2sA3JFCkNm" target="_blank">https://documenter.getpostman.com/view/34343442/2sA3JFCkNm</a>    </p>
        </section>

        <h5 class="text-danger">Important Notice:</h5>
        <section>
            <p>For your security and the protection of our data, all API endpoints require valid credentials (such tokens) to access them. Except Login and Resgisteration</p>
            <p>This ensures authorized use and prevents unauthorized access to our resources.</p>
        </section>
        <p>If you have any questions about accessing our APIs or need help with authentication, please refer to the documentation or contact our support team.</p>
    </div>
</div>





