:root {
    --black: #17202A;
    --white: #F7F9F9;
    --main: white;
    --card-main: #17202A;
    --green: #2ECC71;
    --blue: #2980B9;
    --red: #E74C3C;
    --yellow: #F1C40F;
    --light-grey: #D7DBDD
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #EBDEF0;*/
    color: #333;
}

.card {
    width: 14rem;
}


@media (min-width: 10000px) {
    .card {
        width: 20rem !important;
    }
}

.list-group-item {
    border-bottom: none !important;
}

.badge-success {
    background: var(--green)
}

.badge-primary {
    background: var(--blue)
}

.badge-danger {
    background: var(--red)
}

.badge-warning {
    background: var(--yellow)
}

.custom-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


header {
    background-color: var(--main);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    margin-top: 10px;
}

    nav a {
        color: var(--black) !important;
        text-decoration: none;
        margin: 0 15px;
        font-size: 18px;
        transition: color 0.3s ease;
        font-size: 14px;
    }

        nav a.logo {
            margin-right: 3%;
        }
        nav a:hover {
            color: var(--white)
        }

        nav a.active {
            border-radius: 5px;
            background: var(--black);
            padding: 5px;
            color: var(--main) !important
        }

.api-card {
    background-color: #fff;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin: 0px 20px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
    width: 300px;
}

    .api-card:hover {
        transform: translateY(-5px);
    }

    .api-card h2 {
        font-size: 24px;
        margin-top: 0;
        color: var( --card-main);
    }

    .api-card p {
        color: #666;
        margin-bottom: 20px;
    }

    .api-card a {
        background-color: var( --card-main);
        color: var(--white) !important;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .api-card button:hover {
        background-color: var(--main);
    }

a {
    color: var(--blue) !important;
    text-decoration: none
}

.api-box {
    background: var(--black);
    padding: 5px;
    border-radius: 5px;
    color: var(--white);
}

.request-box {
    margin: 5px 0px;
    background: var(--light-grey);
    padding: 5px;
    border-radius: 5px;
    color: var(--black);
}

.shell {
    background: var(--black);
    width: 100%
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button {
    /* color: #0c63e4; */
    background-color: white !important;
}
