
@{
    ViewData["Title"] = "Contact";
}

<div style="width:700px; margin: 0 auto;" class="big-card">
    <div class="text-center">
        <section>
            <h4>Contact Us</h4>
            <section>

            </section>
            <p>

            </p>
        </section>

    </div>
</div>
