@{
    ViewData["Title"] = "Free API Store";
    ViewData["Footer-fixed"] = true;
}

@* <div style="width:500px; margin: 0 auto;">
    <div class="text-center">
        <h4>Welcome to our Free API Store!</h4>
        <p>Dive into a treasure trove of APIs tailored for testing purposes, yet built with the same excellence as those for real-world applications. Here, you can refine your skills in API integration and explore a plethora of possibilities to enrich your development journey.</p>
    </div>
</div> *@


<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 text-center" style="height: 100px !important">
            <h4>Welcome to your <b>Free API Store</b>!</h4>
            <p>Dive into a treasure trove of APIs tailored for testing purposes, yet built with the same excellence as those for real-world applications. Here, you can refine your skills in API integration and explore a plethora of possibilities to enrich your development journey.</p>
        </div>
        <div class="col-md-6 col-sm-12 text-center">
            <img src="~/api.png" style="width: 50%; height: 50%">
        </div>
        <div class="custom-container">
            <div class="api-card">
                <h2>E-commerce API</h2>
                <p>Access product information, prices, and images for your online store with oauth</p>
                <a href="@Url.Action("Index", "Store")">Docs</a>
            </div>
            <div class="api-card">
                <h2>Sentiment API</h2>
                <p>Analyze the sentiment of text data for customer reviews, social media comments, and more.</p>
                <a>Coming soon!</a>
            </div>
        </div>
    </div>
</div>
