@{
    ViewData["Title"] = "Free API Store";
    ViewData["Footer-fixed"] = true;
}

<div class="custom-container">
    <div class="api-card">
        <h2>E-commerce API</h2>
        <p>Access product information, prices, and images for your online store with oauth</p>
        <a href="@Url.Action("Index", "Store")">Docs</a>
    </div>
    <div class="api-card">
        <h2>Sentiment API</h2>
        <p>Analyze the sentiment of text data for customer reviews, social media comments, and more.</p>
        <a>Docs</a>
    </div>
</div>